body {
  background-color: #F9F9FB;
}

section {
  margin: 2rem;
}

.section-title {
  text-align: left;
  color: #868BA2;
}

.navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #84A3F6;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #dad9d9;
  box-shadow: 0 2px 10px #ccc;
}

.navbar a {
  color: #FFF;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.nav-search-container {
  display: flex;
  width: 22%;
}

.nav-search-container img {
  position: absolute;
  width: 20px;
  margin: 8px 10px;
}

.search-input {
  width: 100%;
  padding: 0.5rem 0.75rem 0.5rem 2rem;
  border-radius: 1rem;
  border: none
}

.search-input:focus {
  outline: none;
}

.divider {
  width: auto;
  height: 2px;
  background-color: #ECECEE;
  margin: 2rem;
}



.container-grid {
  display: grid;
  grid-gap: 20px;
  /* margin: 2rem; */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.team-card {
  padding: 1rem;
  border: 1px solid #e3e1e1;
  display: flex;
  gap: 1rem;
  background-color: #FFF;
  border-radius: 0.7rem;
  box-shadow: 8px 6px 10px #F2F2F4;
  cursor: pointer;
}

.team-card:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(169, 169, 169, 0.3);
}

.team-card img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: fill;
}

.team-card .card-title {
  font-size: 18px;
  font-weight: 600;
  color: #535353;
  line-height: 1;
}

.team-card .card-description {
  font-size: 12px;
  color: #AEAEAE;
}

.float-button {
  position: fixed;
  bottom: 60px;
  right: 33px;
  padding: 11px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  box-shadow: 1px 1px 8px #919090;
  background: #84A3F6;
  color: #FFF;
  font-size: 25px;
  cursor: pointer;
}

